@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- _Sidebar.cshtml -->
<nav id="sidebar" class="bg-dark text-white vh-100 position-fixed" style="width: 250px; transition: all 0.3s;">
    <div class="p-3" style="margin-top:50px;">
        <h4 class="text-white">📦 Inventory</h4>
        <hr />
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="/Dashboard/Index">
                    <i class="fas fa-tachometer-alt me-2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Brand/Index">
                    <i class="fas fa-tags me-2"></i> Brand
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Product/Index">
                    <i class="fas fa-boxes me-2"></i> Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Stock/Index">
                    <i class="fas fa-warehouse me-2"></i> Stock
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Suppliers/Index">
                    <i class="fas fa-truck me-2"></i> Suppliers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Reports/Index">
                    <i class="fas fa-chart-line me-2"></i> Reports
                </a>
            </li>
        </ul>
    </div>
</nav>

